<!DOCTYPE html>
<html lang="en">

  ${head}

<body class="${background}">

  ${header}

  <div class="container text-center">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <h3> Ajout de Recettes </h3>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-8 border p-4 px-5">
        <div class="alert alert-warning ${ErrorMessageClassName}" role="alert">
          ${ErrorMessage}
        </div>
        <form action="./SubmitRecette" method="post" enctype="multipart/form-data">

          <div class="input-group mb-3">
            <span class="input-group-text material-symbols-outlined" id="basic-addon1">person</span>
            <input type="text" class="form-control" name="titre" placeholder="Titre" aria-label="Nom"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text material-symbols-outlined" id="basic-addon1">person</span>
            <input type="text" class="form-control" name="duree" placeholder="Durée" aria-label="Prenom"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text material-symbols-outlined" id="basic-addon1">calendar_month</span>
            <input type="text" class="form-control" name="prix" placeholder="Prix" aria-label="Age"
              aria-describedby="basic-addon1">
          </div>
          
          <div class="input-group mb-3">
            <span class="input-group-text material-symbols-outlined" id="basic-addon1">calendar_month</span>
            <textarea  class="form-control" name="ingredients" placeholder="Ingredients" rows="3" aria-label="Age"
              aria-describedby="basic-addon1"></textarea>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text material-symbols-outlined" id="basic-addon1">calendar_month</span>
            <textarea  class="form-control" rows="3" name="prepa" placeholder="Etapes" aria-label="Age"
              aria-describedby="basic-addon1"></textarea>
          </div>

          <div class="input-group mb-3">
            <input  class="form-control" type="file" id="formFile" placeholder="image" name="image" aria-describedby="basic-addon1">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col">

      </div>
    </div>
  </div>

  ${footer}
</body>

</html>