<!DOCTYPE html>
<html lang="en">

<div th:insert="~{blocks/head.html}"></div>

<body th:class="${background}">

<div th:insert="~{blocks/header.html}"></div>


  <div class="container text-center">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-1">
        <h3> Inscription </h3>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-8 border p-4 px-5">
        <form action="./SubmitInscription" method="post">

          <div class="input-group mb-3">

            <span class="input-group-text material-symbols-outlined" id="basic-addon1">mail</span>
            <input type="name" placeholder="Mail" class="form-control" id="exampleInputEmail1" name="mail"
              aria-describedby="emailHelp">

          </div>

          <div class="input-group mb-3">
            <span class="input-group-text material-symbols-outlined" id="basic-addon1">person</span>
            <input type="text" class="form-control" name="nom" placeholder="Nom" aria-label="Nom"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text material-symbols-outlined" id="basic-addon1">person</span>
            <input type="text" class="form-control" name="prenom" placeholder="Prenom" aria-label="Prenom"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text material-symbols-outlined" id="basic-addon1">calendar_month</span>
            <input type="text" class="form-control" name="age" placeholder="Age" aria-label="Age"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text material-symbols-outlined" id="basic-addon1">group</span>
            <select class="form-select" name="sexe" aria-label="Default select example">
              <option selected>Choisir un genre</option>
              <option value="H">Homme</option>
              <option value="F">Femme</option>
              <option value="A">Non-Spécifié</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="customRange1" class="form-label">Budget</label>
            <div class="input-group">
              <span class="input-group-text material-symbols-outlined" id="basic-addon1">paid</span>
              <select class="form-select" name="budget" aria-label="Default select example">
                <option selected>Choisir un budget</option>
                <option value="5">
                  <10€ </option>
                <option value="10"> 10-20€ </option>
                <option value="20"> 20-50€ </option>
                <option value="50">> >50€ </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="customRange1" class="form-label">Temps</label>
            <div class="input-group">
              <span class="input-group-text material-symbols-outlined" id="basic-addon1">schedule</span>
              <select class="form-select" name="temps" aria-label="Default select example">
                <option selected>Choisir une durée</option>
                <option value="5">
                  <20min </option>
                <option value="20">20-40min</option>
                <option value="60">60-90min</option>
                <option value="90">>90min</option>
              </select>
            </div>
          </div>


          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <div class="input-group">
              <span class="input-group-text material-symbols-outlined" id="basic-addon1">lock</span>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <div class="input-group">
              <span class="input-group-text material-symbols-outlined" id="basic-addon1">lock</span>
              <input type="password" name="confirm_password" class="form-control" id="exampleInputPassword1">
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col">

      </div>
    </div>
  </div>

<div th:insert="~{blocks/footer.html}"></div>

</body>

</html>