<!DOCTYPE html>
<html lang="en">

<div th:insert="~{blocks/head.html}"></div>

<body th:class="${background}">

<div th:insert="~{blocks/header.html}"></div>

  <div class="container text-center">
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-1">
        <h3> Profil </h3>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-3">
        <form action="./ChangeNom" method="get" enctype="multipart/form-data">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nom</span>
            <input type="text" class="form-control" name="nom" th:placeholder="${nom}" aria-label="Nom"
              aria-describedby="basic-addon1">
            <button type="submit" class="btn btn-primary">Modifier</button>
          </div>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-3">
        <form action="./ChangePrenom" method="get" enctype="multipart/form-data">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Prenom</span>
            <input type="text" class="form-control" name="prenom" th:placeholder="${prenom}" aria-label="Nom"
              aria-describedby="basic-addon2">
            <button type="submit" class="btn btn-primary">Modifier</button>
          </div>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-3">
        <form action="./ChangeMail" method="get" enctype="multipart/form-data">

          <div class="input-group mb-3">
            <span class="input-group-text " id="basic-addon3">e-mail</span>
            <input type="text" class="form-control" name="mail" th:placeholder="${mail}" aria-label="Nom"
              aria-describedby="basic-addon3">
            <button type="submit" class="btn btn-primary">Modifier</button>
          </div>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-3">
        <form action="./ChangeBudget" method="get" enctype="multipart/form-data">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon4">Budget</span>
            <input type="text" class="form-control" name="budget" th:placeholder="${budget}" aria-label="Nom"
              aria-describedby="basic-addon4">
            <button type="submit" class="btn btn-primary">Modifier</button>
          </div>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-3">
        <form action="./ChangeTemps" method="get" enctype="multipart/form-data">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon5">Temps</span>
            <input type="text" class="form-control" name="temps" th:placeholder="${temps}" aria-label="Nom"
              aria-describedby="basic-addon5">
            <button type="submit" class="btn btn-primary">Modifier</button>
          </div>

        </form>
      </div>
    </div>
  </div>


  <div th:insert="~{blocks/footer.html}"></div>
</body>

</html>