<!DOCTYPE html>
<html lang="en">

${head}

<body class="${background}">

  ${header}

  <div class="container text-center">
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-1">
        <h3> Profil </h3>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-3">
        <form action="./ChangeNom" method="get" enctype="multipart/form-data">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nom</span>
            <input type="text" class="form-control" name="nom" placeholder="${nom}" aria-label="Nom"
              aria-describedby="basic-addon1">
            <button type="submit" class="btn btn-primary">Modifier</button>
          </div>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-3">
        <form action="./ChangePrenom" method="get" enctype="multipart/form-data">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Prenom</span>
            <input type="text" class="form-control" name="prenom" placeholder="${prenom}" aria-label="Nom"
              aria-describedby="basic-addon1">
            <button type="submit" class="btn btn-primary">Modifier</button>
          </div>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-3">
        <form action="./ChangeMail" method="get" enctype="multipart/form-data">

          <div class="input-group mb-3">
            <span class="input-group-text " id="basic-addon1">e-mail</span>
            <input type="text" class="form-control" name="mail" placeholder="${mail}" aria-label="Nom"
              aria-describedby="basic-addon1">
            <button type="submit" class="btn btn-primary">Modifier</button>
          </div>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-3">
        <form action="./ChangeBudget" method="get" enctype="multipart/form-data">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Budget</span>
            <input type="text" class="form-control" name="budget" placeholder="${budget}" aria-label="Nom"
              aria-describedby="basic-addon1">
            <button type="submit" class="btn btn-primary">Modifier</button>
          </div>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-3">
        <form action="./ChangeTemps" method="get" enctype="multipart/form-data">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Temps</span>
            <input type="text" class="form-control" name="temps" placeholder="${temps}" aria-label="Nom"
              aria-describedby="basic-addon1">
            <button type="submit" class="btn btn-primary">Modifier</button>
          </div>

        </form>
      </div>
    </div>
  </div>


  ${footer}
</body>

</html>