<!DOCTYPE html>
<html lang="en">

<div th:insert="~{blocks/head.html}"></div>

<body class="${background}">

<div th:insert="~{blocks/header.html}"></div>


    <div class="container text-center">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
<!--                <div th:html="${recette_image}"></div>-->
                [(${recette_image})]
            </div>

            <div class="col-sm-4">

                <h2> <span th:text="${recette_title}"></span> </h2>
                <br>
                <hr><br>
                <div><span th:text="${recette_cout}"></span> euros</div>
                <div><span th:text="${recette_duree}"></span> min</div>
            </div>
            <div><br>
                <hr><br>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <h3>Ingrédients</h3>
                    [(${recette_ingredients})]
                </div>
                <div class="col-sm-6">
                    <h3>Etapes de préparation</h3>
                    [(${recette_prepa})]
                </div>
            </div>
        </div>

        <div th:insert="~{blocks/footer.html}"></div>
    </div>
</body>

</html>