<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">FoodLovers</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="..">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./recettealea">Recette Alea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Recettes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        User
                    </a>
                    <ul class="dropdown-menu" th:if="${session.get('UID') == ''}">
                        <li>
                            <a class="dropdown-item" href="./connexion">Connexion</a>
                        </li>
                        <li><a class="dropdown-item" href="./inscription">Inscription</a></li>
                    </ul>
                    <ul class="dropdown-menu" th:if="${session.get('UID') != ''}">
                        <li>
                            <a class="dropdown-item" href="./profil">Profil</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<div class="mb-3">
    <img src="./ressources/banniere.png" class="card-img-top" alt="./ressources/banniere.png">
    <div class="card-body">
    </div>
</div>